.editor-console{
    height: 40vh;
    width: 33.33vw;
    border-left: 1px solid black;
}

.isActive{
    display: block;
}

@media(max-width: 580px){
    .editor-console{
        width: 100%;
    }
    .isActive{
        display: none;
    }
}
