.navbar{
    color: white;
    display: flex;
    flex-direction: column;
    border-bottom: 0.75px solid gray;
    flex-wrap: wrap;
    justify-content: center;
}

.logo{
    padding-top: 6px;
    align-self: center;
}
.navbar a{
    display: block;
    text-decoration: none;
}
.navlinks{
    display: block;
    list-style-type: none;
    padding: 0.25rem 1rem;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fnt-size{
    font-size: 0.75rem;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    color: #fff;
}
.navlinks button { 
    background-color: rgb(70, 21, 202);
    border: none;
    cursor: pointer;
}
.font-icon{
    margin-right:4px;
}

.navlinks button:hover {
    background-color: rgba(70, 21, 202,0.6);
}

.anch{
    background-color: rgb(70, 21, 202) ;
}
.anch:hover{
    background-color: rgba(70, 21, 202,0.6);
}

.login{
    background-color: rgb(70,207,115);
    color: black;
}
.login:hover{
    background-color: rgba(70,207,115,0.6);
    color: white;
}


@media screen and (min-width:480px){
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 2rem;
    }
    .navlinks{
        padding: 0.75rem 0.25rem;
    }
    .navlinks li{
        margin-left: 20px;
    }
    .fnt-size{
        font-size: 1rem;
    }
}
@media (min-width:480px) and (max-width: 580px){
    .navbar{
        flex-direction: column;
        justify-content: flex-end;
        padding: 0px 2rem;
    }
    .logo{
        padding-top: 6px;
        align-self: center;
    }
}